[Desktop Entry]
Version=0.1
Name=Silver-System
Exec=/usr/.silver-system-programs/main.sh
Icon=/usr/.silver-system-programs/settings.png
Type=Application
Terminal=false